.heroContainer {
  /* background: linear-gradient(to right, #f7f9fc, #e8eff5); */
  background-color: #fff;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* Big heading at top */
.heroHeading {
  text-align: center;
  margin-bottom: 40px;
}

.heroHeading h1 {
  font-size: 45px;
  color: #1d3557;
}

.highlight-text {
  color: orange;
  animation: fadeInOut 3s ease-in-out infinite;
}

.heroHeading p{
    color: #918c8c;
}
@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

/* Two-column section */
.contentSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  padding-left: 20px
}

.infoContainer {
  flex: 1;
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  max-width: 500px;
}

.infoContainer .heroButton {
  padding: 12px 24px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  background-color: orange;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(255, 165, 0, 0.3);
  transition: all 0.3s ease;
}

.infoContainer .heroButton:hover {
  background-color: #ff8c00; /* slightly darker orange */
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(255, 140, 0, 0.4);
}

.infoContainer .heroButton:active {
  transform: scale(0.98);
}


.imageContainer {
  flex: 2;
  display: flex;
  justify-content: center;
}

.imageContainer img {
  max-width: 700px;
  width: 100%;
  height: auto;
  border-radius: 12px;
  
}

/* Responsive */
@media (max-width: 768px) {
  .heroHeading h1 {
    font-size: 32px;
  }

  .contentSection {
    flex-direction: column;
    text-align: center;
  }

  .infoContainer {
    max-width: 100%;
  }

  .imageContainer img {
    max-width: 100%;
  }
}
