/* .main-sidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  background-color: #2c3e50; 
  color: #ecf0f1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-top-right-radius: 15px; 
  border-bottom-right-radius: 15px; 
} */

.main-sidenav {
  width: 100%; /* Inherit the width of the parent (.navigation) */
  height: 100%; /* Full height */
  background-color: #ffffff; /* Sidebar background color */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: #ffffff; /* Slightly darker background for the logo section */
  font-size: 1.7rem;
  font-weight: bold;
  color: #ff5100;
  padding-top: 10px;
}

.menu-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.menu-item {
  display: flex;
  margin-left: 10px;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #545659; /* Dark text color */
  font-size: 20px;
  font-weight: 500;
}

.menu-item:hover {
  color: #ff5100;
}

.menu-item.active {
  background-color: #f6f5f2; /* Orange background for active item */
  color: #ff5100; /* White text for active item */
  border-top-left-radius: 10px; /* Adjust the value as needed */
  border-bottom-left-radius: 10px; /* Adjust the value as needed */
}

.menu-item span {
  margin-left: 13px;
  font-size: 1rem;
}

.auth-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  cursor: pointer;
  background-color: rgb(255, 140, 0); /* Same as logo section */
  transition: background-color 0.3s ease;
  border-radius: 30px;
  margin: 0 5px 20px 5px;
  margin-bottom: 20px;
}

.auth-section:hover {
  background-color: #ff5100; /* Red highlight on hover */
}

.auth-section span {
  margin-left: 10px;
  font-size: 1rem;
}
